section {
  border-bottom: solid;
  padding-bottom: 15px;
}

.beard {
  background: black;
  width: 5px;
  height: 5px;
  position: absolute;
  border-radius: 2px;
}


#mustache-pic {
  position: absolute;
}